<br>
<center>
<form action="/welcome" method="get">
<label> Hey ! :<br>
  <input type="text" placeholder="Votre nom" name="first_name" required/>
  <input type="submit" class="btn btn-dark" value="Confirmer" />
</form>


</center>
